name: Deploy Documentation

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      # NÃO precisamos mais do setup-node nem do redoc-cli
      # porque o index.html já existe no seu repositório.

      - name: Deploy para o GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./ # Pega todos os arquivos da raiz (index.html e swagger.json)
          publish_branch: gh-pages
          keep_files: false